PERSONAL_EMAIL=<your first account email>
PERSONAL_PASSWORD=<personal_password>
BUSINESS_EMAIL=<your second account email>
BUSINESS_PASSWORD=<business_password>
CLIENTS_EMAIL=<your third account email>
CLIENTS_PASSWORD=<client_password>
API_KEY=<get from my.saleshandy.com/settings/api-keys after login>